h1 {
  font-family: "Tiro Tamil", serif;
  font-weight: 600;
  line-height: 1;
}
h2 {
  font-family: "Tiro Tamil", serif;
  font-size: 2.3vw;
}
h3 {
  font-family: "Tiro Tamil", serif;
  font-size: 1.5vw;
}
