always-auth=true
@gsap:registry=https://npm.greensock.com/

# Local install
# //npm.greensock.com/:_authToken=<insert gsap token here>

# Netlify deploy
//npm.greensock.com/:_authToken=${GSAP_TOKEN}

save-exact=true