button#back {
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  opacity: 1;
  transition: opacity 0.3s;
  padding: 1.1vw 1.5vw;
  color: $highlight;
  background-color: rgba($highlight, 0.2);
  display: flex;
  align-items: center;

  svg {
    height: 1em;
    min-width: 2em;
    line-height: 0;
  }

  span:first-child {
    width: 1.6vw;
    display: flex;
    margin-right: 0.8vw;
    overflow: hidden;
    transition: width 0.6s;
  }

  &:disabled {
    opacity: 0;

    span:first-child {
      width: 0;
    }
  }
}
