button#languagetoggle {
  z-index: 1000;
  position: absolute;
  bottom: 2em;
  right: 2em;
  background-color: rgba(#fff, 0.4);
  color: $blue;
  padding: 0.75em 0em;
  display: flex;
  justify-content: space-around;
  width: 6em;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 2em;
    transition: left 0.3s;
  }

  span {
    z-index: 1;
    width: 2em;
  }

  &.right::before {
    left: 50%;
  }
}