div#payoff {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  span {
    display: block;
  }

  .text {
    font-size: 5vw;
    font-weight: normal;
  }
  .number {
    display: block;
    position: relative;
    font-family: agenda, sans-serif;
    font-size: 15vw;
    font-weight: 600;
    filter: drop-shadow(0 0 40px rgba($highlight, 1));
  }
}
