div#payoff {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  span {
    display: block;
  }

  .text {
    font-size: 5vw;
    font-weight: normal;
    margin-top: 10vw;
  }
  .number {
    font-size: agenda, sans-serif;
    display: block;
    font-size: 15vw;
    position: relative;
    text-shadow: 0 0 80px rgba($highlight, 0.8);
  }
}
