#detail-transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .text {
    width: 33%;
    padding-top: 2.5vw;

    .paragraph-wrapper {
      padding-right: 3vw;
    }
  }

  .illustration {
    display: flex;
    width: 65%;
    padding-left: 4em;
  }
}
