#detail-storage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2vw;

  .text {
    width: 33%;
    margin-left: 6vw;

    .paragraph-wrapper {
      padding-right: 5vw;
    }
  }

  .illustration {
    display: flex;
    justify-content: center;
    width: 66%;
    height: 100%;
    padding-left: 4em;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
