#detail-transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8vw;

  .text {
    width: 30%;
    padding-top: 2.5vw;

    .paragraph-wrapper {
      padding-right: 3vw;
    }
  }

  .illustration {
    display: flex;
    width: 70%;
    padding-left: 4em;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }

    .titles {
      .fort-mcmurray {
        top: 9.6%;
        left: 6.5%;
      }
      .in-situ {
        top: 33.2%;
        right: 35.1%;
      }
      .cold-lake {
        bottom: 28.65%;
        right: 7%;
      }

      h3 {
        position: absolute;
        font-family: agenda, sans-serif;
        font-size: 90%;
        color: $highlight;
        max-width: 12%;
      }
    }

    .steps {
      font-size: 60%;

      div {
        position: absolute;
        display: flex;
        align-items: center;
        width: 10%;

        span {
          flex: 1 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $orange;
          color: #0c4ce9;
          width: 1.5vw;
          height: 1.5vw;
          border-radius: 50%;
          font-size: 0.8vw;
          margin-right: 0.5vw;
        }
      }

      .step-1 {
        top: 15%;
        left: 24.5%;
      }

      .step-2 {
        top: 45.5%;
        right: 41.5%;
      }

      .step-3 {
        bottom: 9.5%;
        right: 31%;
      }

      .step-4 {
        bottom: 2.5%;
        right: 16%;
      }
    }
  }
}
