#detail-storage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2vw;

  .text {
    width: 33%;
    margin-left: 6vw;

    .paragraph-wrapper {
      padding-right: 8vw;
    }
  }

  .illustration {
    position: relative;
    display: flex;
    justify-content: center;
    width: 67%;
    height: 100%;

    svg {
      position: absolute;
      top: 1.5vw;
      left: 4.55vw;
      width: 49.1vw;
      height: 49.1vw;
      z-index: 1;
    }

    img {
      width: 52.4vw;
      height: 52.4vw;
      object-fit: contain;
    }
  }
}
