#detail-uniting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8vw;

  .text {
    width: 30%;

    .paragraph-wrapper {
      padding-right: 2vw;
    }
  }

  .logos {
    width: 70%;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        display: block;
        width: 50%;
        padding: 0 8vw;
        margin-bottom: 5vw;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin: 0 auto;
        }

        &.canadian-natural {
          img {
            width: 95%;
            height: 95%;
          }
        }

        &.conoco-phillips {
          img {
            width: 95%;
            height: 95%;
          }
        }

        &.meg {
          margin-bottom: 0;
        }

        &.cenovus {
          img {
            width: 92%;
            height: 92%;
          }
        }

        &.imperial {
          img {
            width: 85%;
            height: 85%;
          }
        }

        &.suncor {
          margin-bottom: 0;
          img {
            width: 95%;
            height: 95%;
          }
        }
      }
    }
  }
}
