#detail-capturing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8vw 2vw 8vw 8vw;

  .text {
    width: 25%;
    padding-top: 2.5vw;

    .paragraph-wrapper {
      padding-right: 4.5vw;
    }
  }

  .illustration {
    width: 75%;
    padding-left: 6vw;

    .tooltips {
      position: relative;

      .tooltip {
        position: absolute;
      }

      .tooltip-amine {
        bottom: 2vw;
        left: 15vw;
      }

      .tooltip-heat {
        bottom: 12.5vw;
        right: 11.4vw;
      }

      .tooltip-pressure {
        bottom: 37vw;
        right: 3vw;
        max-width: 12.5vw;
      }
    }
  }
}
