#detail-directing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8vw 2vw 8vw 8vw;

  .text {
    width: 25%;

    .paragraph-wrapper {
      padding-right: 3vw;
    }
  }

  .illustration {
    width: 75%;
    padding-left: 4vw;
    svg {
      width: 100%;
    }
  }
}
