#detail-innovation {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8vw;

  .heading {
    width: 35vw;
    h2 {
      font-size: 2.8vw;
      margin-bottom: 0;
    }
  }

  .tooltip {
    top: -40%;
    left: 110%;
    max-width: 20vw;
    font-size: 1vw;
    line-height: 1.6;

    &::before {
      top: 2vw;
      left: -4vw;
      width: 4.3vw;
      height: 1px;
    }
    &::after {
      top: 2vw;
      left: -4.3vw;
    }
  }

  .buckets {
    display: flex;
    align-items: baseline;

    .bucket {
      padding-right: 3em;

      &:last-child {
        padding-right: 0;
      }

      .illustration {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 2vw 2vw 1vw;

        img {
          width: 6vw;
          object-fit: contain;
        }
      }
    }

    .electrification {
      .illustration {
        img {
          width: 8vw;
        }
      }
    }

    .capture {
      .illustration {
        img {
          width: 8vw;
        }
      }
    }

    .reactors {
      .illustration {
        img {
          width: 2.5vw;
        }
      }
    }
  }
}
