#detail-storage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .text {
    width: 33%;
    padding-top: 2.5vw;

    .paragraph-wrapper {
      padding-right: 3vw;
    }
  }

  .illustration {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
    padding-left: 4em;

    img {
      object-fit: contain;
      width: auto;
      height: 100%;
    }
  }
}
