#detail-innovation {
  display: flex;
  flex-direction: column;
  height: 100%;

  .heading {
    width: 40vw;
    margin-bottom: 4em;
  }

  .buckets {
    display: flex;

    .bucket {
      padding-right: 3em;

      &:last-child {
        padding-right: 0;
      }

      .illustration {
        display: flex;
        align-items: flex-end;
        height: 12vw;
        padding: 4vw 4vw 2vw;

        img {
          object-fit: contain;
        }
      }

      .text {
        font-size: 1.2vw;
      }
    }
  }
}
