#detail-transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .text {
    width: 35%;
  }

  .illustration {
    display: flex;
    width: 65%;
    padding-left: 4em;
  }
}
