div#loader {
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 0.5em;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: 1s opacity;

  .bar {
    margin-top: 0.5em;
    background-color: #bd41a6;
    height: 2px;
  }

  &.loading {
    opacity: 1;
  }
}