div#slide-together {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .highlight {
    flex: 1;
    display: flex;
    color: #0c4ce9;
    position: relative;

    .background {
      circle {
        // stroke-width: 250px;
        stroke-width: 17vw;
      }
    }

    .heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;

      h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        margin: 0;
        padding: 4vw;
        border-radius: 50%;
        min-height: 10em;
        font-family: sans-serif;
      }

      .number {
        display: block;
        font-size: 7vw;
        min-width: 15vw;
      }
      .text {
        display: block;
        font-size: 1.5vw;
        font-weight: normal;
        max-width: 10em;
      }
    }
  }

  .stats {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;

    div {
      flex: 1 0 50%;
      font-size: 0.8em;
      padding-left: 2em;
    }
    .bucket {
      margin-bottom: 1em;
      h2 {
        font-size: 2.7em;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }

    .reverse {
      display: flex;
      flex-direction: column;

      h2 {
        order: 2;
      }
      p {
        order: 1;
        margin-bottom: 1rem;
      }
    }
  }
}
