div#slide-companies {
  padding: 4vw;

  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vw;

    h1 {
      display: flex;
      align-items: center;
      font-family: agenda, sans-serif;
    }

    .number {
      font-size: 18vw;
      margin-right: 3vw;
      position: relative;
      filter: drop-shadow(0 0 2rem rgba($highlight, 1));
    }

    .text {
      font-size: 4vw;
    }

    .companies {
      .text {
        max-width: 30vw;
      }
    }

    .goal {
      .text {
        margin-right: 10vw;
        max-width: 10vw;
      }
    }
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 auto 0;
    width: 100%;
    height: 100%;

    li {
      display: block;
      padding: 0 2.4vw;
      height: 100%;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .logo-imperial {
        margin-top: -2vw;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
