div#slide-transportation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 100%;

  .illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
  }

  .text {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;

    h2 {
      font-size: 3vw;
      margin-top: 0;
      margin-bottom: 0.5vw;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 11em;
    }

    .bucket1 {
      position: absolute;
      top: 0;
      left: 0;
    }

    .bucket2 {
      position: absolute;
      top: 0;
      right: 0;
    }

    .bucket3 {
      position: absolute;
      bottom: 15%;
      left: 40%;
    }
  }
}

// illustration SVG styles from illustrator
div#slide-transportation .illustration {
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9,
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-16,
  .cls-17,
  .cls-18,
  .cls-19,
  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-28,
  .cls-29,
  .cls-30,
  .cls-31,
  .cls-32,
  .cls-33,
  .cls-34,
  .cls-35,
  .cls-36 {
    fill: none;
  }

  .cls-2 {
    stroke-width: 0.17px;
  }

  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-37,
  .cls-38,
  .cls-9,
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-39,
  .cls-14,
  .cls-40,
  .cls-15,
  .cls-41,
  .cls-42,
  .cls-16,
  .cls-17,
  .cls-19,
  .cls-20,
  .cls-43,
  .cls-44,
  .cls-45,
  .cls-46,
  .cls-47,
  .cls-48,
  .cls-49,
  .cls-50,
  .cls-51,
  .cls-21,
  .cls-52,
  .cls-53,
  .cls-54,
  .cls-55,
  .cls-56,
  .cls-57,
  .cls-58,
  .cls-59,
  .cls-60,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-61,
  .cls-25,
  .cls-27,
  .cls-29,
  .cls-30,
  .cls-31,
  .cls-32,
  .cls-33,
  .cls-34,
  .cls-35,
  .cls-36 {
    stroke: #fff;
  }

  .cls-2,
  .cls-3,
  .cls-4,
  .cls-37,
  .cls-38,
  .cls-9,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-39,
  .cls-14,
  .cls-40,
  .cls-62,
  .cls-41,
  .cls-42,
  .cls-16,
  .cls-18,
  .cls-19,
  .cls-43,
  .cls-44,
  .cls-45,
  .cls-46,
  .cls-47,
  .cls-48,
  .cls-49,
  .cls-50,
  .cls-51,
  .cls-21,
  .cls-52,
  .cls-53,
  .cls-54,
  .cls-55,
  .cls-56,
  .cls-57,
  .cls-58,
  .cls-59,
  .cls-60,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-61,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-28,
  .cls-29,
  .cls-30,
  .cls-31,
  .cls-32,
  .cls-33,
  .cls-34,
  .cls-35,
  .cls-36 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .cls-3,
  .cls-40 {
    stroke-width: 0.7px;
  }

  .cls-4 {
    stroke-width: 0.35px;
  }

  .cls-5 {
    stroke-width: 0.56px;
  }

  .cls-5,
  .cls-6,
  .cls-10,
  .cls-63,
  .cls-15,
  .cls-17 {
    stroke-miterlimit: 10;
  }

  .cls-6,
  .cls-43,
  .cls-52,
  .cls-29 {
    stroke-width: 0.54px;
  }

  .cls-64,
  .cls-63 {
    fill: #00eefa;
  }

  .cls-7,
  .cls-8 {
    stroke-linecap: square;
    stroke-width: 0.3px;
  }

  .cls-8 {
    stroke: #0c4ce9;
  }

  .cls-37 {
    fill: url(#New_Pattern_Swatch_14-2);
  }

  .cls-37,
  .cls-38,
  .cls-14,
  .cls-17 {
    stroke-width: 0.8px;
  }

  .cls-38 {
    fill: url(#New_Pattern_Swatch_14-3);
  }

  .cls-9 {
    stroke-width: 0.58px;
  }

  .cls-10 {
    stroke-width: 0.32px;
  }

  .cls-11 {
    stroke-width: 0.58px;
  }

  .cls-12 {
    stroke-width: 0.29px;
  }

  .cls-13 {
    stroke-width: 0.53px;
  }

  .cls-63,
  .cls-62,
  .cls-18 {
    stroke-width: 0.96px;
  }

  .cls-63,
  .cls-62,
  .cls-18,
  .cls-26,
  .cls-28 {
    stroke: #00eefa;
  }

  .cls-39 {
    fill: url(#New_Pattern_Swatch_12);
  }

  .cls-39,
  .cls-44,
  .cls-45,
  .cls-46,
  .cls-47,
  .cls-48,
  .cls-49,
  .cls-50,
  .cls-51,
  .cls-53,
  .cls-54,
  .cls-55,
  .cls-56,
  .cls-57,
  .cls-58,
  .cls-59,
  .cls-60,
  .cls-34 {
    stroke-width: 0.52px;
  }

  .cls-40 {
    fill: url(#New_Pattern_Swatch_14);
  }

  .cls-62 {
    fill: #fff;
  }

  .cls-15 {
    stroke-width: 0.27px;
  }

  .cls-41 {
    fill: url(#New_Pattern_Swatch_5-3);
  }

  .cls-41,
  .cls-42,
  .cls-61,
  .cls-30 {
    stroke-width: 0.55px;
  }

  .cls-42 {
    fill: url(#New_Pattern_Swatch_5-2);
  }

  .cls-16 {
    stroke-width: 0.49px;
  }

  .cls-19 {
    stroke-width: 0.49px;
  }

  .cls-20 {
    stroke-width: 2.88px;
  }

  .cls-43 {
    fill: url(#New_Pattern_Swatch_14-4);
  }

  .cls-44 {
    fill: url(#New_Pattern_Swatch_12-7);
  }

  .cls-45 {
    fill: url(#New_Pattern_Swatch_12-6);
  }

  .cls-46 {
    fill: url(#New_Pattern_Swatch_12-9);
  }

  .cls-47 {
    fill: url(#New_Pattern_Swatch_12-5);
  }

  .cls-48 {
    fill: url(#New_Pattern_Swatch_12-8);
  }

  .cls-49 {
    fill: url(#New_Pattern_Swatch_12-2);
  }

  .cls-50 {
    fill: url(#New_Pattern_Swatch_12-3);
  }

  .cls-51 {
    fill: url(#New_Pattern_Swatch_12-4);
  }

  .cls-21 {
    stroke-width: 0.21px;
  }

  .cls-52 {
    fill: #0c4ce9;
  }

  .cls-53 {
    fill: url(#New_Pattern_Swatch_12-14);
  }

  .cls-54 {
    fill: url(#New_Pattern_Swatch_12-10);
  }

  .cls-55 {
    fill: url(#New_Pattern_Swatch_12-13);
  }

  .cls-56 {
    fill: url(#New_Pattern_Swatch_12-11);
  }

  .cls-57 {
    fill: url(#New_Pattern_Swatch_12-16);
  }

  .cls-58 {
    fill: url(#New_Pattern_Swatch_12-17);
  }

  .cls-59 {
    fill: url(#New_Pattern_Swatch_12-15);
  }

  .cls-60 {
    fill: url(#New_Pattern_Swatch_12-12);
  }

  .cls-22 {
    stroke-width: 0.86px;
  }

  .cls-23 {
    stroke-width: 0.21px;
  }

  .cls-24 {
    stroke-width: 0.43px;
  }

  .cls-61 {
    fill: url(#New_Pattern_Swatch_5);
  }

  .cls-25 {
    stroke-width: 0.23px;
  }

  .cls-26 {
    stroke-width: 0.74px;
  }

  .cls-27 {
    stroke-width: 0.38px;
  }

  .cls-28 {
    stroke-width: 0.77px;
  }

  .cls-31 {
    stroke-width: 0.27px;
  }

  .cls-32 {
    stroke-width: 0.54px;
  }

  .cls-33 {
    stroke-width: 1.07px;
  }

  .cls-35 {
    stroke-width: 0.52px;
  }

  .cls-36 {
    stroke-width: 0.52px;
  }
}
